h1 {
  text-align: center;
  font-size: 80px;
}

td {
  text-align: center;
  font-size: 300px;
  background-color: gray;
}

.btn-group {
  height: 100px;
}

.btn {
  font-size: 30px;
}
